<img (click)="OnstarDBLClick()" src="https://upload.wikimedia.org/wikipedia/commons/3/34/Red_star.svg"
height="42" width="42"> <!--Image element with click event  -->
<h2 [hidden]="show" >Look at the Star!</h2> <!-- Heading that is hiddent based oon show property -->
<br> <!-- New Line -->
<button (click)="OnClick()"> Press Me</button><!-- Button, when clicked triggers OnClick method  -->
<br><!-- New line -->
<h3>{{text}} {{num}} </h3> <!-- Displays values of text and num properties  -->
<br><!-- New line -->
<app-listcomponent> </app-listcomponent> <!-- Calling New Component-->

